body {
  background-color: #e3f6f5;
}

h1{
  color:#cd4dcc;
}

h3{
  color :#cd4dcc;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width : 5%
}
